@using System.Text;
@using TaskDesk.Management.Blazor.Core.Handlers.Project;
@using TaskDesk.SharedModel.Handlers.Project.Models;

@inject ProjectEndpoints HttpClient;
@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Create Project
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudPaper MinWidth="400px" Elevation="2" Square="true">
            <MudForm 
                @ref="form"
                Model="@model"
                Class="pa-2">
                <MudTextField
                    T="string"
                    Label="Name"
                    FullWidth=true
                    Variant="Variant.Outlined"
                    Required="true"
                    RequiredError="Name is required!"
                    @bind-Value="model.Name"
                    Class="pb-5" />
                <MudTextField 
                    class="field"
                    Label="Description"
                    FullWidth=true
                    Variant="Variant.Outlined"
                    @bind-Value="model.Description"
                    Lines="8" />
            </MudForm>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="CancelAll">Close All</MudButton>
        <MudButton OnClick="Submit">Create</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    private ProjectModel model = new();
    private MudForm? form = default!;

    private async Task Submit()
    {
        try
        {
            await form!.Validate();

            if (form.Errors.Length == 0)
            {
                var project = await HttpClient.Create<ProjectModel, ProjectModel>("Project/Create", model);
                Snackbar.Add($"<ul><li>Successfull</li><li>Project '{project.Name}' was created</li></ul>", Severity.Success);
            }
            else
            {
                var stringBuilder = new StringBuilder();

                foreach (var erroe in form.Errors)
                    stringBuilder.Append($"<li>{erroe}</li>");

                Snackbar.Add($"<ul><li>Wrong!</li><li>{stringBuilder.ToString()}</li></ul>", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"{ex.Message}", Severity.Error);
        }
    }

    private void CancelAll() => MudDialog.CancelAll();
}