@inject IDialogService DialogService

<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full">
        <MudText Typo="Typo.h6" Class="px-4">Task Desk</MudText>
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        <div>
            <MudNavGroup Title="Projects" Icon="@Icons.Material.Filled.ViewKanban" Expanded="true">
                <MudNavLink Icon="@Icons.Material.Filled.Add" OnClick="OpenProjectCreateDialog">Create</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.MoreHoriz">More</MudNavLink>
            </MudNavGroup>
        </div>
    </MudNavMenu>
</MudPaper>

@code {
    private async Task OpenProjectCreateDialog()
    {
        var options = new DialogOptions() { DisableBackdropClick = true, MaxWidth = MaxWidth.ExtraSmall, CloseButton = true };
        var dialog = await DialogService.ShowAsync<Dialogs.CreateMenuDialog>("Create Menu", options);
    }
}
