.seach-field {
    margin: 4px 20px;
}

.paginator {
    display: flex;
    justify-content: center;
}

.poject-group {
    position: relative;
}

.actions-btn {
    position: absolute;
    right: 40px;
    top: 7px;
}